.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.abel-font{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.emerge{
    animation: emerge 1s;
}

.fade{
    animation: fade 1s;
}
.card-shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Header styling */

header{
    background-color: #D2E9E9;
    height: 34rem;
    overflow: hidden;
}

.nav-item{
    margin-left: 1.3rem;
}

.nav-link{
    color: #2b4869 ; 
    font-size: 1.4rem;
    font-family: 'Playfair', serif;
    transition: transform 0.3s ease-in ;
}

.nav-link:hover{
    border-left: solid 0.1rem #2b4869 ;
    text-decoration-thickness: 0.2rem;
    text-underline-position: var(2rem);
    transform:translateY(-0.2rem) ;
}
.navbar-brand{
    margin-left: 4%;
    padding-top: 1%;
    width: 5%;
    animation: emerge 1s linear ;
}

.navbar-brand img{
    width: 175%;
}

.header-image{
    height: 70%;
    margin: auto 0 auto 0;

    transition: transform 0.5s ease-in-out;
}

.header-image:hover{
    transform: translateY(1rem);

}

.motto{
    margin-top:8% ;
    margin-left: 7%;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 3em;
}

.txt-col-fit{
    transition: transform 0.5s ease-in-out;
}

.txt-col-fit:hover{
    transform: translateY(1rem);
}

.header-btn{
    margin-left: 7%;
    margin-top: 7%;
}

.header-btn2{
    margin-left: 3%;
    margin-top: 7%;
}

.header-link{
    text-decoration: none;
    color: #28578d;
}

/* gradient */

.header-gradient{
    background: rgb(210,233,233);
background: linear-gradient(180deg, rgba(210,233,233,1) 0%, rgba(175,211,226,1) 100%);
    height: 15rem;
    z-index: 2;
}

/* Skills section styling */

#skills{
    background-color: #AFD3E2;
}

.js-img{
    width: 55%;
    display: inline;

    transition: transform 0.5s ease-out 0.1s;
}

.js-img:hover{
    transform: scale(1.3);
}

#skills .container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.js-txt{
    font-size: 2rem;
    top: 19%;
    font-family: 'Abel', sans-serif;
    position: absolute;
}


hr{
    border-top: 10px dotted #535353;
    width: 10%;
    display: block;
    margin: 0.4rem  auto;
}

#skills .row{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* gradient */

.skills-gradient{
    background: rgb(175,211,226);
    background: linear-gradient(180deg, rgba(175,211,226,1) 0%, #6a9fb5 100%);
    height: 15rem;
}

/* Portfolio section styling */

#portfolio{
    background-color: #6a9fb5; 
    overflow-x: hidden;
}

.port-row{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.card{
    transition: transform 0.4s ease-out;
}

.card:hover{
    transform: translateY(-0.45rem);
}

/* Gradient */

.port-gradient{
    background: rgb(106,159,181);
    background: linear-gradient(180deg, rgba(106,159,181,1) 0%, rgba(58,107,141,1) 100%);
    height: 15rem;
}

/* About me section */

#about-me{
    background-color: #3a6b8d;
}

.about-txt{
    font-size: 1.5rem;
    color: #8fc9e1;
    font-family: 'EB Garamond', serif;
    transition: transform 1s;
}

.about-txt:hover{
    transform: scale(1.1);
}

.about-head{
    color: #4b9fdb;
    font-family: 'Playfair', serif;
    font-weight: bold;
    
}

.footer-hr{
    border-color: #6fb1d4;
    width: 50%;
    padding-bottom:2rem ;
}

/* Footer styling */

#footer{
    background-color: #3a6b8d; 
    overflow-x:hidden ;
}

.copy-right{
    vertical-align: middle;
    margin-left: 3rem;
}

.instagram-icon{
margin-right: 2.5rem;
}

.go-up-icon{
    position: fixed;
    bottom: 0.3%;
    right: 0.3%;
    font-size:  2.5rem;
}





@media only screen and (max-width: 320px){
    .header-image{
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    
    header{
        height: initial;
    }

    .nav-item{
        margin-left: 0.1rem;
    }

    .motto-section{
        text-align: center;
    }

    .motto{
        margin: 0.7rem auto ;
        
    }

    .header-btn{
        margin: 7% auto;
    }
    .header-btn2{
        margin: 7% auto;
        margin-left: 3%;
    }

    /* Skills section */

    .skills-container{
        text-align: center;
    }
    
    .js-txt{
        position: static;
    }

    /* portfolio section */
    .card{
        margin: 1rem ;
    }


    /* footer section*/

    #footer{
        text-align: center;
    }
    
    .instagram-icon{
        margin-right: 4px;
    }

    .copy-right{
        margin-left: 0;
        padding-bottom: 0.75rem;
    }
  }

@keyframes scaleUp {

    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

@keyframes emerge{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}